* {
  font-family: Helvetica;
}

.title {
  color: white;
  font-size: 32px;
}

h1 {
  background-image: url("../images/pattern.webp");
  text-align: center;
  font-size: 100px;
  color: Khaki;
}

#brush {
  background-color: MediumSpringGreen;
}

#frames {
  background-color: LightCoral;
}

#paint {
  background-color: SkyBlue;
}

.price {
  color: Blue;
  font-weight: bold;
}
